<section>
    <form class="searchArea" (submit)="filterResults(sType.value, sParam.value)">
        <select class="s type" #sType>
            <option value="title">Title</option>
            <option value="genre">Genre</option>
            <option value="author">Author</option>
        </select>
        <input type="text" class="s text" placeholder="{{sParam.value}}" #sParam>
        <button class="searchIcon" type="button" (click)="filterResults(sType.value, sParam.value)">
            <i class=" fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</section>
<section class="results">
    <app-book-desc *ngFor="let book 
    of filteredBookList" [book]="book"></app-book-desc>
</section>