<div class="content">
    <label class="logSign">Login or Sign Up</label>
    <form [formGroup]="loginForm">
        <input type="text" class="info userName" placeholder="BookLover432" formControlName="userName">
        <input type="password" class="info password" placeholder="Password" formControlName="Password">
        <label class="accntInfo">Account already exists</label>
        <span class="btns">
            <button class="login" (click)="handleSubmit()">Login</button>
            <button class="signUp">Sign Up</button>
        </span>
    </form>
</div>
